//
// Aside Dark Blue Skin
//



// Include framework config
@import "../../../../../framework/config";

// Include demo config
@import "../../config";

// Include header config
@import "../../header/config";

// Include aside config
@import "../../aside/config";

// Build Aside Skin
.k-aside {
	background-color: k-get($k-layout-skins, navy);

	// Scrollbar
	@include k-perfect-scrollbar-skin(#637099);

	// Footer
	.k-aside__footer {
		background-color: #1f2231;

		.btn {
			@include k-transition();
			background-color: transparent;
			
			i {
				@include k-transition();
				color: #364b8b;
			}
		}

		.show .btn,
		.btn:hover {
			@include k-transition();
			background-color: #191b27;

			i {
				@include k-transition();
				color: k-brand-color();
			}
		}
	}
}

// Build Aside Menu Skin
@include k-menu-ver-build-skin(k-get($k-aside-config, menu), navy);

// Modify icon color for flaticon2 icons
.k-aside {
	.k-aside-menu {
		> .k-menu__nav {
			.k-menu__item {
				> .k-menu__link {	
					[class^="flaticon2-"],
					[class*=" flaticon2-"] {
						color: #434d6b;
					}
				}
			}
		}
	}
}