//
// Demo Config
//




// Layout
$k-aside-default-width: 260px;
$k-aside-minimize-width: 78px;
$k-aside-offcanvas-width: 255px;

$k-page-padding: (
	desktop: 25px,
	mobile: 15px
);


// Brand Color
$k-brand-color: #5d78ff;
$k-brand-inverse-color: #ffffff; 

// Layout Skins
$k-layout-skins: (
	brand: #4d65dc,
	navy: #242939,
	light: #ffffff
);