//
// Container
//




.k-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	// Fluid container mode
	&.k-container--fluid {
		width: 100%;    
	}

	// Full height mode
    &.k-container--full-height {
	    position: relative;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 100%;
	}
}

@each $breakpoint, $breakpoint-width in $k-media-breakpoints {
    @media (min-width: $breakpoint-width) {
        .k-container:not(.k-container--fluid):not(.k-container--responsive) {
            width: map-get($k-media-breakpoints, $breakpoint) - 60px;
        }
    }
}

@each $breakpoint, $breakpoint-width in $k-media-breakpoints {
    @media (min-width: $breakpoint-width) {
        .k-container.k-container--responsive.k-container--#{$breakpoint} {
            width: map-get($k-media-breakpoints, $breakpoint) - 60px;
        }
    }
}