//
// Content
//



.k-content {
	padding: k-get($k-page-padding, desktop);
	padding-top: 20px;

	.k-content__head {
		display: none;
	}

	.k-content__body {
		padding: 0 15px 0 0 0;
	}
}

// Responsive mode(ref $k-media-breakpoints in framework\_config.scss)
// Above 1024px(all desktops)
@include k-media-above(lg) {
	.k-content {
		padding-top: 20px;
		padding-right: 0;

		.k-content__head {
			display: none;
		}
	}
}

// Below 1024px(table and mobile)
@include k-media-below(lg) {
	.k-content {
		padding: 20px;
		
		.k-content__head {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0 0 1rem 0;
			padding: 0;

			.k-content__head-title {
				margin: 0;
				padding: 0.5rem 0.5rem 0.5rem 0rem;
				font-size: 1.6rem;
				font-weight: 500;
				color: #333;
			}

			.k-content__head-breadcrumbs {
				display: flex;
				align-items: center;
				list-style-type: none;
				margin: 0;
				flex-wrap: wrap;
				padding: 0.5rem 0;

				.k-content__head-breadcrumb-home {
					padding: 0px 0.75rem 0px 0px;
					@include k-transition();

					> i {
						font-size: 1.15rem;
						color: #aba7c9;
					}

					&:hover {
						> i {
							@include k-transition();
							color: k-brand-color();
						}
					}

					&.k-content__head-breadcrumb-home--active {
						> i {
							color: k-brand-color();
						}
					}
				}

				.k-content__head-breadcrumb-link {
					padding: 0 0.75rem 0 0;
					font-size: 1rem;
					font-weight: 500;
					color: #aba7c9;

					&:hover {
						color: k-brand-color();
					}

					&.k-content__head-breadcrumb-link--active {
						color: k-brand-color();
					}

					@include k-hover-transition();
				}

				.k-content__head-breadcrumb-separator {
					display: flex;
					justify-content: content;
					align-items: center;
					padding: 0 0.75rem 0 0;

					&:after {
						display: block;
						width: 4px;
						height: 4px;
						border-radius: 50%;
						content: " ";
						background: #d6d4e4;
					}
				}
			}
		}

		.k-content__body {
			padding: 0 10px 0 0 0;
		}
	}
}