//
// Aside Dark Skin
//



// Include framework config
@import "../../../../../framework/config";

// Include demo config
@import "../../config";

// Include header config
@import "../../header/config";

// Include aside config
@import "../../aside/config";

// Build skin
.k-aside {
	background-color: k-get($k-layout-skins, navy);

	.k-aside-menu {
		.k-menu__nav {
			.k-menu__item {
				&.k-menu__item--active {
					> .k-menu__link {		
						background-color: #121f2f;	
					}				
				}
			}
		}
	}

	// Scrollbar
	@include k-perfect-scrollbar-skin(lighten(k-get($k-layout-skins, navy), 18%));
}

// Desktop mode
@include k-desktop {
	.k-aside__brand {
	    background-color: k-get($k-layout-skins, navy);
		border-bottom: 1px solid lighten(k-get($k-layout-skins, navy), 5%);
    	box-shadow: none;

    	.k-aside__brand-tools {
			@include k-burger-icon-skin(k-aside__brand-aside-toggler, (default: #484f66, hover: k-brand-color(), active: k-brand-color()));		
		}
	}
}

// Tablet and mobile mode
@include k-tablet-and-mobile {
	.k-header-mobile {
		background-color: k-get($k-layout-skins, navy);
		box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.1);

		.k-header__topbar--mobile-on & {
			box-shadow: none;
		}

		// Toolbar
		.k-header-mobile__toolbar {
			@include k-burger-icon-skin(k-header-mobile__toolbar-toggler, (default: #484f66, hover: k-brand-color(), active: k-brand-color()));	

			.k-header-mobile__toolbar-topbar-toggler {
				i {
					color: #484f66;
				}

				&.k-header-mobile__toolbar-topbar-toggler--active,
				&:hover {
					i {
						color: k-brand-color();
					}
				}
			}
		}
	}
}

// Build Aside Menu Skin
@include k-menu-ver-build-skin(k-get($k-aside-config, menu), navy);